<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>分类</title> 
    <style>
        *{margin:0px; padding:0px;text-decoration:none;}
        .header{height:60px;background-color:#303133;}
        .title{height:40px;line-height:60px;}
        .title_font{padding-left:10px;float:left;color:#909199;}
        .title_LR{float:right;font-size:14px;padding-right:10px;}
        .title_LR a{color:#909199;}
    </style>
</head>
<body>
    <div class="header">
        <div class="title">
            <span class="title_font">无限分类</span>  
            <span class="title_LR">
                <span><a href="login">登录</a></span> &nbsp; 
                <span><a href="register">注册</a></span>
            </span>
        </div>
    </div>

    <div>
        <UL>
            <LI>1</LI>
            <LI>2</LI>
            <LI>3</LI>
            <LI>4</LI>
        </UL>
    </div>
</body>
</html>