<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>注册</title>
    <style>
        *{margin:0px auto;padding:0px;}
        .boss{width:300px;height:300px;margin:160px auto;}
        .title{text-align:center;font-size:20px;}
        .form{width:300px;padding-top:30px;}
        .form p{width:300px;height:45px;text-align:center;}
        input{width:200px;height:30px;padding-left:5px;}
        .form p:nth-child(3) input{width:210px;height:35px;background-color:rgb(255, 92, 43);color:#f1f1f1;border:none;}
    </style>
</head>
<body>
    <div class="boss">
        <div class="title">register</div>
        <form class="form" action="" method="POST" onsubmit="return false">
            <p><input type="text" placeholder="User:"></p>
            <p><input type="password" placeholder="Pass:"></p>
            <p><input type="button" value="立即注册"></p>
        </form>
    </div>
</body>
</html>